<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body bgcolor="teal">
<br>
<h1 align="center">Welcome {{name}} !</h1>

<h2>Computer Science Curriculum <br /><br /><br /></h2>
<br/>
<form method="POST" action="/page2">
    <p> Freshman Year</p>
    <input type="checkbox" name="course" value="Exploring Computer Science"> &nbsp;&nbsp;Exploring Computer Science">Exploring Computer Science<br>
    <input type="checkbox" name="course" value="ScienceLecA"> Science Lec A<br/>
    <input type="checkbox" name="course" value="ScienceLabA"> Science Lab A<br/>
    <input type="checkbox" name="course" value="English I" /> English I<br/>
    <input type="checkbox" name="course" value="Intro to CS" /> Intro to CS<br/>
    <input type="checkbox" name="course" value="CSI"> CS I<br/>
    <input type="checkbox" name="course" value="Unix Lab"> Unix Lab<br/>
    <input type="checkbox" name="course" value="Calculus I"> Calc I<br/>
    <input type="checkbox" name="course" value="English II" /> English II<br/>
    <input type="checkbox" name="course" value="Principles of Speech" /> Principles of Speech<br/>

    <p> Sophomore Year</p>
    <input type="checkbox" name="course" value="CSII"> CS II<br/>
    <input type="checkbox" name="course" value="Comp Org I"> Comp Org I<br/>
    <input type="checkbox" name="course " value="Calculus II"> Calc II<br/>
    <input type="checkbox" name="course" value="CSIII"> CS III<br/>
    <input type="checkbox" name="course" value="Software Engineering"> Software Engineering<br/>
    <input type="checkbox" name="course" value="Comp Org II"> Comp Org II<br/>
    <input type="checkbox" name="course" value="Discrete Structures"> Discrete Structures<br/>
    <input type="checkbox" name="course" value="ScienceLecB(1)"> Science Lec B (1)<br/>
    <input type="checkbox" name="course" value="ScienceLabB(1)"> Science Lab B (1)<br/>
    <input type="checkbox" name="course" value="ScienceLecB(2)"> Science Lec B (2)<br/>
    <input type="checkbox" name="course" value="ScienceLabB(2)"> Science Lab B (2)<br/>

    <p> Junior Year</p>
    <input type="checkbox" name="course" value="Theory of Computation"> Theory of Computation<br/>
    <input type="checkbox" name="course" value="Operating Systems"> Operating Systems<br/>
    <input type="checkbox" name="course" value="Fundamentals of Alg."> Fundamentals of Alg.<br/>
    <input type="checkbox" name="course" value="Data Communications and Network Programming"> Data Communications and Network Programming<br/>
    <input type="checkbox" name="course" value="Intro to Cybersecurity 1"> Intro to Cybersecurity 1<br/>
    <input type="checkbox" name="course" value="Structure of Prog Languages"> Structure of Prog Languages<br/>
    <input type="checkbox" name="course" value="Database Systems"> Database Systems<br/>
    <input type="checkbox" name="course" value="Technical Writing"> Technical Writing<br/>
    <input type="checkbox" name="course" value="Intro to Linear Algebra"> Intro to Linear Algebra<br/>

    <p> Senior Year</p>
    <input type="checkbox" name="course" value="Senior Project I"> Senior Project I<br/>
    <input type="checkbox" name="course" value="Large Scale Prog."> Large Scale Programming<br/>
    <input type="checkbox" name="course" value="Applied Data Science"> Applied Data Science<br/>
    <input type="checkbox" name="course" value="Senior Project II"> Senior Project II<br/>

    <p> Electives</p>
    <input type="checkbox" name="Non-Technical Elective (1)" value="Non-Technical Elective(1)"> Non-Technical Elective (1)<br/>
    <input type="checkbox" name="Non-Technical Elective (2)" value="Non-Technical Elective(2)"> Non-Technical Elective (2)<br/>
    <input type="checkbox" name="Non-Technical Elective (3)" value="Non-Technical Elective(3)"> Non-Technical Elective (3)<br/>
    <input type="checkbox" name="Technical Elective(1)" value="Technical Elective(1)"> Technical Elective (1)<br/>
    <input type="checkbox" name="Technical Elective(2)" value="Technical Elective(2)"> Technical Elective (2)<br/>
    <input type="checkbox" name="Technical Elective(3)" value="Technical Elective(3)"> Technical Elective (3)<br/>
    <input type="checkbox" name="Technical Elective(4)" value="Technical Elective(4)"> Technical Elective (4)<br/>

    <input type="submit" value="Submit">
    <input type="reset" value="Reset"> </td>
</form>

</body>
</html>